<h1>UbMailer#new_block</h1>

<p>
  GE Delinquent Patron Processing for University System of Georgia Libraries.  This report is for management purposes only.
  This report does NOT block or unblock any patrons.
</p><br><br>

  __________________________________________

<p>  <%= Time.now.strftime("%a %b %d %H:%M:%S %Y") %></p>


<p>
  <%= @greeting %>, find me in app/views/ub_mailer/new_block.text.erb
</p>
